@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}
/* Voeg jouw css hieraan toe */

/*concurrentieanalyse*/

.ca{
    float:right;
    padding-bottom:10px;
    padding-right:15px;
    width:500px;
    height:250px; 
}

.list{
    list-style-type:none;
    list-style:none;
    padding-left:0;
}

a:hover {
  font-weight:bold;
  color:rgb(44, 137, 243);
}

.ca img1{
    float:right;
}

/*Digital styleguide*/

.box1{
    font-family:"Lato";
    box-shadow: 0 0 10px #333;
    padding: 20px;
    width: 90%;
    padding-bottom:40px;
    margin: 0 auto 0 auto;
}

.box2{
    font-family:"Lato";
    box-shadow: 0 0 10px #333;
    padding:20px;
    padding-bottom:390px;
    width:90%;
    margin: 0 auto 0 auto;
}

.logo1{
    width:30%;
    height:30%;
    float:left;
}

.logo2{
width:40%;
height:40%;
float:left;
}

.boxinfo{
    font-family:"Lato";
    width:90%;
    padding-left:90px;
    text-align:justify;
    margin-top:50px;
    font-size:15px;
    color:hsla(49, 73%,40%, 1);
}
.boxinfo2{
    font-family:"Lato";
    width:80%;
    text-align:justify;
    font-size:15px;
    color:hsla(49, 73%,40%, 1);
}

.typografie{
    font-family:"Lato";
    width:55%;
    float:left;
}

.kop4{
    font-family:"Nanum Gothic"
}
.kop5{
    font-family:"Nanum Gothic"
}
.link{
    font-family:"Nanum Gothic"
}
